<div class="search-bar">
    <mat-form-field>
        <mat-label>Search countries</mat-label>
        <input matInput type="text" id="search-input">
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
</div>
<div class="results">
    <div *ngFor="let country of countries" class="country">{{ country.name }}</div>
</div>
