.search-bar {
    background: rgba(0, 0, 100, 0.05);
    padding: 1rem 2rem;

    > * {
        width: 100%;
    }

    mat-form-field {
        margin-bottom: -1.25em;
    }

}

.country {
    width: 100%;
    margin: 1rem 2rem;
    font-size: 1rem;
    font-weight: 500;
}
